/*MAIN*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: #0c131d;
	background: url("/packring/res/bg.png");
	background-size: 259.75px 150px;
	color: #f0e7eb;
	font-family: Montserrat, sans-serif;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#footer > *, #packdescription, .packicon p {
	text-shadow:
		-2px -2px 2px black,
		2px -2px 2px black,
		-2px 2px 2px black,
		2px 2px 2px black;
}

#header {
	margin: 10px 10px 20px 10px;
}

h1, h2, h3, h4, h5, h6, .headertext {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 2px black,
		-1px 1px 2px black,
		1px 1px 2px black;
}

.inline-headers h1, .inline-headers h2, .inline-headers h3, .inline-headers h4, .inline-headers h5, .inline-headers h6 {
	display: inline;
}

img.icon {
	vertical-align: bottom;
}

button {
	--color: 151;
	background-color: hsla(var(--color), 40%, 11%, 1);
	font-size: 2em;
	cursor: pointer;
	border: 3px solid hsla(var(--color), 41%, 8%, 1);
	border-radius: 10px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 2px black,
		-1px 1px 2px black,
		1px 1px 2px black;
}
button:hover {
	background-color: hsla(var(--color), 41%, 8%, 1);
	border-color: hsla(var(--color), 40%, 11%, 1);
}
button:active {
	background-color: hsla(var(--color), 38%, 5%, 1);
	border-color: hsla(var(--color), 41%, 8%, 1);
}

a, a > * {
	text-decoration: none;
	color: inherit;
}
a button > img.icon {
	filter: drop-shadow(-0.25px -0.25px 0.75px black)
		drop-shadow(0.25px -0.25px 0.75px black)
		drop-shadow(-0.25px 0.25px 0.75px black)
		drop-shadow(0.25px 0.25px 0.75px black);
}
a:hover > * {
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
	color: black;
}
a:hover button > img.icon {
	filter: invert(1) drop-shadow(-0.25px -0.25px 0 white)
		drop-shadow(0.25px -0.25px 0 white)
		drop-shadow(-0.25px 0.25px 0 white)
		drop-shadow(0.25px 0.25px 0 white);
}
a:active > * {
	text-shadow:
		-1px -1px 2px white,
		1px -1px 2px white,
		-1px 1px 2px white,
		1px 1px 2px white;
	color: white;
}
a:active button > img.icon {
	filter: drop-shadow(-0.25px -0.25px 0.75px white)
		drop-shadow(0.25px -0.25px 0.75px white)
		drop-shadow(-0.25px 0.25px 0.75px white)
		drop-shadow(0.25px 0.25px 0.75px white);
}
a.nodeco, a.nodeco > *, a > *.nodeco {
	text-shadow: none;
	color: inherit;
}

#content {
	margin: 0 auto;
	width: 50%;
}
#content.wide {
	width: 75%;
}
@media (orientation: portrait) {
	#content, #content.wide {
		width: calc(100% - 20px);
	}
}

#footer {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 4px;
}

#footer > * {
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 2px;
}

/*INDEX*/

.packimage {
	object-fit: cover;
	width: 300px;
	height: 250px;
	border-radius: 10px;
}

.packicon {
	width: 300px;
	margin: 10px;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.025);
}
.packicon p {
	margin: 10px;
}

.packlist-text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#packlist {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

/*INFO PAGEs*/

#packdescription {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.025);
	padding: 10px;
	box-sizing: border-box;
}
#packdescription img {
	width: 100%;
}
#packdescription img[src*="#halfwidth"] {
	width: 50%;
}
@media (orientation: portrait) {
	#packdescription img[src*="#halfwidth"] {
		width: 100%;
	}
}

#packdescription > *:first-child {
	margin-top: 0;
}
#packdescription > *:last-child {
	margin-bottom: 0;
}

#packheader {
	margin-bottom: 10px;
}

/*HAMBURGER MENU*/

#menu-button {
	cursor: pointer;
}

.menu-container {
	position: relative;
	display: inline-block;
	user-select: none;
}

#menu-content {
	display: none;
	position: absolute;
	z-index: 1;
	right: 0;
	min-width: 160px;
	background-color: #222;
	padding: 10px;
	border-bottom-right-radius: 10px;
}

#menu-content p:first-child {
	margin-top: 2px;
}

#menu-content p:last-child {
	margin-bottom: 2px;
}

.show-menu {
	display:block !important;
}
